.gallery {
  gap: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}

#packshots-wrapper {
  display: grid;
  gap: 10px; /* Espacement entre les éléments */
  margin: 10px;
}

.packshot {
  position: relative;
  background-color: #f9f9f9;
  overflow: hidden;
  border-radius: 10px;
}

.packshot img {
  width: 100%;
  height: 100%; /* Remplit le conteneur */
  object-fit: cover;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.pastille-container {
  position: absolute;
  width: 50px; /* Largeur qui englobe toutes les pastilles */
  height: 50px; /* Hauteur qui englobe toutes les pastilles */
}

/* Style pour la pastille principale */
.pastille {
  font-family: sans-serif;
  background-color: #fff;
  transform: translate(0, 70%);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Cacher les sous-pastilles par défaut */
.sub-pastille {
  font-family: sans-serif;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: scale(0.5);
  transition:
    opacity 0.3s,
    transform 0.3s;
}

/* Rendre les sous-pastilles visibles au survol de la pastille principale ou des sous-pastilles */
.pastille-container:hover .sub-pastille {
  opacity: 1;
  transform: scale(1);
}

/* Positionnement des sous-pastilles par rapport à la pastille principale */
.sub-pastilles {
  position: relative;
}

.sub-pastille:hover {
  /* Applique un rouge transparent  en plus du blanc de base*/
  background-color: rgb(241, 125, 125);
}

.sub-pastille.cart {
  top: -55px;
  left: 10px; /* Ajustez cette valeur pour éloigner ou rapprocher la pastille */
}

/* Placement symétrique autour de la pastille principale */
.sub-pastille.info {
  top: 20px; /* Ajustez cette valeur pour éloigner ou rapprocher la pastille */
  left: 15px; /* Centré horizontalement */
}

.sub-pastille.price {
  top: -20px; /* Ajustez cette valeur pour aligner verticalement */
  left: 35px; /* Éloignez horizontalement */
}
