/* GLOBAL VARIABLES */
:root {
  --header-height: 3rem;
  --footer-height: 2rem;
  --space-xl: 4rem;
  --space-lg: 2rem;
  --space-md: 1rem;
  --space-sm: 0.75rem;
  --space-xs: 0.5rem;

  /* border-radius */
  --border-radius-sm: 0.5rem;
  --border-radius-md: 0.75rem;
  --border-radius-lg: 1.5rem;
  --border-radius-xl: 2rem;

  /* Colors */
  --color-primary: #d4a017; /* Jaune moutarde */
  --color-secondary: #f0f0f0; /* Gris clair */
  --color-accent: #e67e22; /* Orange épicé pour les éléments accentués */
  --color-light: #e4e3e1; /* Beige clair pour un fond doux */
  --color-dark: #2b2924; /* Noir brun, légèrement plus chaleureux que le noir pur */

  /* Buttons */
  --color-btn-bg: #d4a017; /* Jaune moutarde */
  --color-btn-bg-hover: #b58412; /* Jaune moutarde plus foncé pour le hover */
  --color-btn-text: #2b2924; /* Texte des boutons foncé pour le contraste */

  /* Input Fields */
  --color-input-bg: #f9f5e6; /* Beige clair pour les champs d'entrée */
  --color-input-border: #dcd0ba; /* Bordure beige */
  --color-input-text: #2b2924; /* Texte sombre des champs d'entrée */

  /* Shadows and Borders */
  --color-shadow: rgba(0, 0, 0, 0.75); /* Ombre légère */
  --color-border: #dcd0ba; /* Bordures douces */

  /* Tabs */
  --color-tab-active: #d4a017; /* Jaune moutarde */
  --color-tab-text: #4b6584; /* Bleu gris pour les onglets inactifs */

  /* Notifications and Alerts */
  --color-success: #27ae60; /* Vert pour les succès */
  --color-warning: #f39c12; /* Jaune orangé pour les avertissements */
  --color-error: #c0392b; /* Rouge profond pour les erreurs */

  /* Loading Icon */
  --color-loading-icon: #d4a017; /* Aligné avec la couleur principale */

  /* Additional Text Colors */
  --color-text-muted: #7f8c8d; /* Gris moyen pour le texte secondaire */
  --color-text-highlight: #d4a017; /* Jaune moutarde pour attirer l'attention */
}

/* // ------ RESET CSS ------ // */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  /* // tap-highlight-color: rgba(0, 0, 0, 0); */
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100vh;
  height: 100svh;
  margin: 0;
  min-width: 320px;
  background-color: var(--color-dark);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  color: white;
}
li,
ul,
ol {
  list-style: none;
  display: inline-block;
  color: var(--color-light);
}

p {
  font-size: 14px;
  color: var(--color-light);
}

h1 {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-light);
}

h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: var(--color-light);
}

h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-light);
}
